.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9; /* Light background color */
  margin-top: 1rem;
  padding: 10px;
}

.login-box {
  background: #fff; /* White box */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: #ffa500;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background: #ffa500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.login-button:hover {
  background: #e69500;
}

.signup-link {
  margin-top: 1rem;
  color: #555;
}

.signup-link a {
  color: #ffa500;
  text-decoration: none;
  cursor: pointer;
}

.signup-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: block;
}
